* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 20px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-card {
  width: 300px;
  height: 445px;
  margin-bottom: 10px;
}

.card-box {
  cursor: pointer;
  padding: 15px 30px;
  margin: 0 auto;
}

.header-box {
  margin-top: 50px;
}

.my-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  display: none;
}
.my-modal.show {
  display: flex;
}

.modal-text {
  width: 666px;
  height: 575px;
  max-width: 666px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}

.close-btn__modal {
  transform: translateY(-30px);
  position: fixed;
  margin-left: 600px;
}

.input-name {
  padding: 0 10px;
}

.spinner__loading {
  margin-left: 480px;
}

.my-modal__spinner:not(.d-none) + div {
  display: none;
}

.my-modal__spinner {
  margin-top: 250px;
  margin-left: 300px;
  position: fixed;
}

.btn-search__icon {
  padding: 3px 30px !important;
}

.input-year__movie {
  padding: 0 10px;
}

.h3-title {
  font-weight: 400;
  font-size: 18px;
  max-width: 250px;
  margin-left: 5px;
}